/* Generales */
html * {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Principal */
.principal {
    height: 100vh;
}

/* Cabecera */
.cabecera {
    background-color: aquamarine;
}

/* Contenido */
.contenido {
    background-color: aliceblue;
}

.contenido__img {
    width: 100%;
    height: auto;
}

/* Izquierda */
.izquierda {
    background-color: beige;
}

/* Anexos */
.anexo1 {
    background-color: goldenrod;
}

.anexo2 {
    background-color: darkcyan;
}

/* Derecha */
.derecha {
    background-color: bisque;
}

/* Pie */
.pie {
    background-color: black;
    color: white;
}

@media (max-width:600px) {
    .principal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .principal > * {
        padding: 10px;
        width: 100%;
    }

    header, aside, footer, h1 {
        text-align: center;
    }

    .contenido {
        display: flex;
        flex-wrap: wrap;

    }

    .contenido img {
        width: 100%;
    }

    h1 {
        flex-basis: 50%;
    }

    .contenido p{
        flex-basis: 100%;
    }
}

@media (max-width: 900px) and (min-width: 601px) {
    .principal {
        display: grid;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: 15% 60% 20% 5%;
    }

    .principal > * {
        padding: 10px;
        text-align: center;
    }

    header {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .izquierda {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .contenido {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .derecha {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .anexo1 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .anexo2 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .pie {
        grid-row: 4/5;
        grid-column: 1/4;
    }
}

@media (min-width: 901px) {
    .principal {
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 15% 60% 20% 5%;
    }

    .principal > * {
        padding: 10px;
        text-align: center;
    }

    header {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .izquierda {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .contenido {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .derecha {
        grid-column: 4/5;
        grid-row: 2/4;
    }

    .anexo1 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .anexo2 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .pie {
        grid-row: 4/5;
        grid-column: 1/5;
    }
}
