body {
	margin:0 auto;
	max-width: 80%;
}

h1 {
	text-align: center;
}

#container {
	display: flex;
}

#col_izqu {
	width: 25%;
}

#col_derecha {
	width: 75%;
}

#col_derecha ul {
	display: flex;
}

#col_derecha ul li{
	width: 33%;
	margin: 10px;
}