#container {
	background-color: #D4D0CA;
	max-width: 1000px;
	margin:0 auto;
	height: 85%;
}

h1 {
	text-align: center;
}

#m1 {
	background-color: #AE9A7C;
	text-align: center;
	margin: 0 100px;
	height: 5%;
}

#m2 {
	position: absolute;
	top: 200px;
	left: 820px;
	height: 15%;
	padding: 0.5em;
	background-color: #7DB926;
	width: 19%;
}

#m3 {
	float: left;
	background-color: #FDEEA8;
	width: 30%;
	margin-left: 50px;
	height: 15%;
	padding: 0.5em;
}

#m4 {
	text-align: right;
	float: right;
	background-color: #BFF6F2;
	width: 30%;
	margin-right: 50px;
	height: 15%;
	padding: 0.5em;
}

#m5 {
	float: left;
	clear: both;
	background-color: #FEE7E1;
	width: 30%;
	margin-left: 50px;
	height: 15%;
	padding: 0.5em;
}

#m6 {
	text-align: right;
	float: right;
	background-color: #FFBDAC;
	width: 30%;
	margin-right: 50px;
	height: 15%;
	padding: 0.5em;
}