h1 {
	border:2px solid #00F;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}
h2 {
	border:2px solid #AAA;
	padding: 5px;
	margin-bottom:15px;
	margin-top:15px;
}
ul {
	border:2px solid #0F0;
	margin-left: 10px;
	margin-right: 10px;

}
.especial {
	margin-top: 15px;
}