/*
-----FUNDAMENTOS RWD-----

Viewport
Media queries
Modelo de cajas (propiedad box-sizing)


*/


@media screen and (min-width: 1200px) {
body{
	background-color: yellow;
	font-size: 1.5em;
}

section{
	background-color: #FEFFA9;
    font-size: .9em;
	float: left;
	margin: 1%;
	padding: 1em;
	width: 31%;
}

* {
	box-sizing: border-box;
}

img {
	height: 75%;
	width: 100%;
	}
}



@media screen and (min-width: 768px) and (max-width: 1999px){
body {
		background-color: red;
}

section {
	background-color: #FFB2A9;
    font-size: .9em;
	float: left;
	margin: 1%;
	padding: 1em;
	width: 31%;
		
}
* {
	box-sizing: border-box;
}

img {
	height: 75%;
	width: 100%;
	}


}

@media screen and (min-width: 360px) and (max-width: 767px) {
body {
	background-color: green;
	font-size: 1em;
}

section {
	background-color: #D1FFA9;
	width: 48%;
	font-size: .9em;
	float: left;
	margin: 1%;
	padding: 1em;
}

* {
	box-sizing: border-box;
}

img {
	height: 75%;
	width: 100%;
	}

}

@media screen and (max-width: 359px) {
body {
	background-color: blue;
	font-size: 1em;
}

section {
	background-color: #A9FFFB;
	width: 90%;
	font-size: .9em;
	float: left;
	margin: 1%;
	padding: 1em;
}

* {
	box-sizing: border-box;
}

img {
	height: 75%;
	width: 100%;
	}

}