#galeria {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	padding: 20px;
	width: 30%;
	height: 350px;
	margin: 40px 20px;
	border: 2px solid;
}

* {
	box-sizing: border-box;
}