h1 {
	margin: 20px 0px;
	text-align: center;
	background-color: olive;
	padding: 0.5em;
}
#container {
	display: flex;
}

#jardineria, #electricidad, #fontaneria {
	width: 33%;
}

* {
	box-sizing: border-box;
}

h3{
	margin-top: 3em;
}

body {
	max-width: 1200px;
	margin: 0 auto;
}