
#cinco{
  /* display: none; */
  visibility: hidden;
}

#overflow div{
  position: absolute;
  top: 10%;
  border: #000000 solid 1px;
  width: 200px;
  height: 175px;
  margin: 25px 25px 25px 25px;
  text-align: justify;
}

#visible{
  overflow: visible;
  left: 0;
}
#hidden{
  overflow: hidden;
  left: 30%;
}
#scroll{
  overflow: scroll;
  left: 60%;
}

#zindex div{
  border: #000000 solid 1px;
  width: 200px;
  height: 175px;
  margin: 25px 25px 25px 25px;
  background-color: white;
}

#caja1{
  top: 50%;
  left: 15%;
  position: absolute;
  z-index: 10;
}
#caja2{
  top: 48%;
  left: 20%;
  z-index: 20;
  position: absolute;
}
#caja3{
  top: 53%;
  left: 17%;
  z-index: 30;
  position: absolute;
}
