* {
	margin: 0;
	padding: 0;
}

body{
	background: #323A46;
	font-family: Arial;
}

.contenedor {
	margin: 0 auto;
	max-width: 1000px;
	overflow:hidden;
	/*Añadir propiedad aquí*/
}

header{
	background: #EB4A33;
	margin: 20px 0;
}

header h1{
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.main {
	background: #fff;
	/*Añadir propiedad aquí*/
	float: left;
	padding: 20px;
	width: 70%;
}

.main img {
	/*Añadir propiedades aquí*/
}

aside {
	background: #ccc;
	/*Añadir propiedad aquí*/
	float: left;
	padding: 20px;
	width: 30%;
}

footer {
	background: #000;
	/*Añadir propiedad aquí*/
	clear: both;
	color: #fff;
	margin-top: 20px;
	padding: 20px;
	width: 100%;
}

/*---------MEDIA QUERIES--------*/

