ul {
	list-style-type: none;
	text-align: center;
	width: 10%;
	padding: 0;
}

li:hover {
	border: 3px solid red;
}

li {
	background-color: blue;
	margin-top: 5px;
}

a {
	text-decoration: none;
	color: white;
}