body {
	margin:0 auto;
	max-width: 60em;
}

h1 {
	text-align: center;
}

#container {
	display: flex;
}

#col_izqu {
	width: 16em;
}

#col_derecha {
	width: 44em;
}

#col_derecha ul {
	display: flex;
}

#col_derecha ul li{
	width: 33%;
	margin: 10px;
}