h1 {
    font-family: serif;
    font-weight: bold;
}

li {
    color: #551a8b;
    font-size: small;
}

.container {
    width: 780px;
    background: #FFFFFF;
    margin: 0 auto;
    text-align: left;
}

#sidebar {
    float: left;
    width: 200px;
    background: #F5F5F5;
    padding: 15px 10px 15px 20px;
    margin-top: 100px;
}

#main {
    margin: 0 0 0 250px;
    padding: 0 20px 20px 20px;
}